.tableList thead tr th button {
    float: right;
}

.tableList thead tr th .select-wrapper {
    width: 50px;
    float: right;
    margin-right:10px;
    height: 36px;
}

.tableList thead tr th .select-wrapper input{
    height: 36px;
    margin:0;
}

.tableList tbody tr td:last-of-type button{
    visibility: hidden;
}

.tableList tbody tr:hover td:last-of-type button{
    visibility: inherit;
}